# Ignore all files
*

# Include specific files or folders
!.gitignore         # Keep the .gitignore file itself

# Files
!.zshrc
!README.md
!Brewfile

# Folders
!important-folder/  # Keep the entire 'important-folder' directory